<launch>
  <node pkg="raspimouse_ros_2" name="motors" type="motors" required="true" />
  <include file="$(find raspimouse_game_controller)/launch/logicool.launch" /> 

  <node pkg="urg_node" name="urg_node" type="urg_node" required="true" >
    <param name="frame_id" value="base_link"/>
  </node>
</launch>
